.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.c-close {
    margin-top: -1rem;
    margin-right: -0.5rem;
}

.c-add {
    position: fixed;
    width: 100%;
    bottom: 5%;
    text-align: center;
}